In [21]:
#前処理してくぜ
#お引越し
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt



%matplotlib inline
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv("test.csv")

In [39]:
#datetime	日時（YYYY-MM-DD）	文字列
#y	引越し数	数値：整数
#client	法人が絡む特殊な引越し日フラグ	数値：整数（0,1）
#close	休業日	数値：整数（0,1）
#price_am	午前の料金区分（-1は欠損を表す。5が最も料金が高い）	数値：整数（-1,0,1,2,3,4,5）
#price_pm	午後の料金区分（-1は欠損を表す。5が最も料金が高い）	数値：整数（-1,0,1,2,3,4,5）

In [22]:
train_df_y = train_df[["y"]]
train_df = train_df.drop(["y"],axis=1)

In [23]:
train_df_y.reset_index()

      index    y
0         0   17
1         1   18
2         2   20
3         3   20
4         4   14
5         5   14
6         6    4
7         7   10
8         8   12
9         9   21
10       10   15
11       11   11
12       12    8
13       13   13
14       14    8
15       15   16
16       16   23
17       17   25
18       18   18
19       19   21
20       20    9
21       21    8
22       22   12
23       23   23
24       24   18
25       25   18
26       26   14
27       27   18
28       28   19
29       29   15
...     ...  ...
2071   2071   59
2072   2072   53
2073   2073   62
2074   2074   67
2075   2075   59
2076   2076   53
2077   2077   46
2078   2078   56
2079   2079   60
2080   2080   66
2081   2081   84
2082   2082   77
2083   2083   69
2084   2084   81
2085   2085   78
2086   2086   87
2087   2087  102
2088   2088   94
2089   2089  101
2090   2090  100
2091   2091   96
2092   2092   96
2093   2093   94
2094   2094   90
2095   2095   93
2096   2096   94
2097   2097   86
2098   2098   98
2099   2099   99
2100   2100  105

[2101 rows x 2 columns]

In [24]:
df = pd.concat([train_df,test_df])

In [25]:
df['datetime'] = pd.to_datetime(df.datetime)
#何月か
df['Month'] = df['datetime'].dt.month
#何日か
df['DayofMonth'] = df['datetime'].dt.day
#何曜日か
df['dayofweek'] = df['datetime'].dt.dayofweek
#何年か
df['year'] = df['datetime'].dt.year

In [26]:
#ダミー変数化
#何月か
month_df = pd.get_dummies(df['Month'], prefix='M', prefix_sep='_')
#何日か
dayofmonth_df = pd.get_dummies(df["DayofMonth"], prefix='DM', prefix_sep='_')
#何曜日か
dayofweek_df = pd.get_dummies(df['dayofweek'], prefix='DW', prefix_sep='_')
#何年か
year_df= pd.get_dummies(df['year'], prefix='y', prefix_sep='_')

In [27]:
#datetimeを保存
df_id = df[['datetime']]
df = df.drop(["Month","DayofMonth",\
              "dayofweek","year"],axis=1)

In [28]:
df = pd.concat([df,
                month_df,
                dayofmonth_df,
                dayofweek_df,
                year_df,], axis=1)

In [29]:
train_df = df[0:2101].reset_index()

In [30]:
train_df = pd.concat([train_df,train_df_y],axis=1)

In [31]:
train_df = train_df.drop("index",axis=1)

In [32]:
train_df.head()

,datetime,client,close,price_am,price_pm,M_1,M_2,M_3,M_4,M_5,...,DW_6,y_2010,y_2011,y_2012,y_2013,y_2014,y_2015,y_2016,y_2017,y
0,2010-07-01,0,0,-1,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,17
1,2010-07-02,0,0,-1,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,18
2,2010-07-03,0,0,-1,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,20
3,2010-07-04,0,0,-1,-1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,20
4,2010-07-05,0,0,-1,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,14

In [37]:
test_df = df[2101:]

In [38]:
test_df.head()

,datetime,client,close,price_am,price_pm,M_1,M_2,M_3,M_4,M_5,...,DW_5,DW_6,y_2010,y_2011,y_2012,y_2013,y_2014,y_2015,y_2016,y_2017
0,2016-04-01,1,0,3,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,2016-04-02,0,0,5,5,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
2,2016-04-03,1,0,2,2,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,2016-04-04,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,2016-04-05,0,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
test_df.columns

Index(['datetime', 'client', 'close', 'price_am', 'price_pm', 'M_1', 'M_2',
       'M_3', 'M_4', 'M_5', 'M_6', 'M_7', 'M_8', 'M_9', 'M_10', 'M_11', 'M_12',
       'DM_1', 'DM_2', 'DM_3', 'DM_4', 'DM_5', 'DM_6', 'DM_7', 'DM_8', 'DM_9',
       'DM_10', 'DM_11', 'DM_12', 'DM_13', 'DM_14', 'DM_15', 'DM_16', 'DM_17',
       'DM_18', 'DM_19', 'DM_20', 'DM_21', 'DM_22', 'DM_23', 'DM_24', 'DM_25',
       'DM_26', 'DM_27', 'DM_28', 'DM_29', 'DM_30', 'DM_31', 'DW_0', 'DW_1',
       'DW_2', 'DW_3', 'DW_4', 'DW_5', 'DW_6', 'y_2010', 'y_2011', 'y_2012',
       'y_2013', 'y_2014', 'y_2015', 'y_2016', 'y_2017'],
      dtype='object')